:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);

  --secondary-red: hsl(0, 87%, 67%);

  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  --stats-background: hsl(230, 25%, 95%);
  --white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2.5rem 1.25rem 0 1.25rem;
  margin-bottom: 1.9rem;
}

.nav {
  position: absolute;
  top: 6.25rem;
  left: 1.25rem;
  right: 1.25rem;
  background-color: var(--primary-dark-violet);
  border-radius: 0.63rem;
  padding: 1.9rem 1.25rem;
}

.nav__links {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--neutral-grayish-violet);
}

.nav__link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
}

.nav__actions {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.nav__signup {
  background-color: var(--primary-cyan);
  display: block;
  padding: 0.63rem 0;
  border-radius: 6.25rem;
}

.hamburger {
  border: none;
  background-color: #fff;
}

.hamburger span {
  display: block;
  width: 1.9rem;
  height: 5px;
  background-color: var(--neutral-grayish-violet);
}

.hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 12.5rem;
}

.hero__image {
  overflow: hidden;
  padding-left: 1.25rem;
}

.hero__image img {
  width: 150%;
}

.hero__text {
  text-align: center;
}

.hero__heading {
  color: var(--neutral-very-dark-blue);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.hero__text p {
  color: var(--neutral-grayish-violet);
  margin-bottom: 1.25rem;
}

.hero__cta {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--primary-cyan);
  padding: 0.63rem 2.5rem;
  border-radius: 6.25rem;
  font-weight: 700;
}

.statistics {
  padding: 0 1.25rem 5rem 1.25rem;
  background-color: var(--stats-background);
  text-align: center;
}

.shortener {
  transform: translateY(-5rem);
}

.shortener__form {
  background: url(../images/bg-shorten-mobile.svg), var(--primary-dark-violet);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.9rem;
}

.shortener__form-url {
  display: block;
  width: 100%;
  height: 3.125rem;
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.3rem;
  padding-left: 0.63rem;
}

.url-input-error {
  outline: 2px solid var(--secondary-red);
  outline-color: var(--secondary-red);
}

.url-input-error::placeholder {
  color: var(--secondary-red);
}

.error {
  color: var(--secondary-red);
  font-weight: normal;
  text-align: left;
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.4rem;
}

.shortener__form-submit {
  border: none;
  outline: 0;
  height: 3.125rem;
  border-radius: 0.3rem;
  background-color: var(--primary-cyan);
  color: var(--white);
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortener__link {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  text-align: left;
  border-radius: 0.3rem;
}

.shortener__link:not(:last-child) {
  margin-bottom: 1.25rem;
}

.shortener__long-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  color: var(--neutral-very-dark-blue);
  border-bottom: thin solid var(--neutral-gray);
  padding: 0.93rem;
}

.shortener__link > div {
  padding: 0.93rem;
}

.shortener__short-link {
  font-weight: 700;
  color: var(--primary-cyan);
  margin-bottom: 0.63rem;
}

.shortener__copy-link {
  border: none;
  outline: 0;
  width: 100%;
  height: 3.125rem;
  background-color: var(--primary-cyan);
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border-radius: 0.3rem;
}

.intro {
  max-width: 500px;
  margin: 0 auto;
}

.statistics__heading {
  color: var(--neutral-very-dark-blue);
  margin-bottom: 1.25rem;
}

.statistics__text {
  color: var(--neutral-grayish-violet);
  margin-bottom: 5rem;
}

.stats-cards {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5rem;
  position: relative;
}

.stats-cards::after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  background: var(--primary-cyan);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.stats-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.9rem 2.5rem 1.9rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  position: relative;
  z-index: 5555;
}

.stats-card__icon {
  background-color: var(--primary-dark-violet);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform: translateY(-50%);
}

.stats-card__heading {
  font-weight: 700;
  margin-bottom: 0.93rem;
}

.stats-card__description {
  color: var(--neutral-grayish-violet);
}

.boost {
  padding: 6.25rem 1.9rem;
  text-align: center;
  background: url(../images/bg-boost-mobile.svg), var(--primary-dark-violet);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.boost__heading {
  color: var(--white);
  margin-bottom: 0.63rem;
}

.boost__cta {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-cyan);
  padding: 0.63rem 2.5rem;
  border-radius: 6.25rem;
}

.nav__signup:hover,
.hero__cta:hover,
.shortener__copy-link:hover,
.boost__cta:hover{
  background-color: hsl(180, 63%, 69%);
}

.footer {
  background-color: var(--very-dark-violet);
  text-align: center;
  padding: 5rem 0;
}

.footer__logo {
  margin-bottom: 1.9rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.footer__links-heading {
  color: var(--white);
  margin-bottom: 1.25rem;
}

.footer__link {
  text-decoration: none;
  color: var(--neutral-grayish-violet);
}

.footer__link:hover {
  color: var(--primary-cyan);
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 3.125rem;
}

.footer__socials a:link, a:visited {
  text-decoration: none;
  color: var(--white);
  display: block;
  font-size: 1.9rem;
}

.footer__socials a:hover {
  color: var(--primary-cyan);
}

.preloader {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  border: 5px solid #dcdcdc;
  border-top: 5px solid var(--white);
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

@media (min-width: 700px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2.5rem 1.25rem 0 1.25rem;
    margin-bottom: 1.9rem;
  }

  .logo {
    margin-right: 1.9rem;
  }

  .nav {
    flex: 1;
    position: static;
    display: flex;
    align-items: center;
    border-radius: 0.63rem;
    padding: 0;
    background-color: initial;
  }

  .nav__links {
    flex: 1;
    position: relative;
    text-align: left;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
  }

  .nav__link {
    color: var(--neutral-gray);
    font-size: 1rem;
    font-weight: 700;
  }

  .nav__link:hover {
    color: var(--neutral-very-dark-blue);
  }

  .nav__actions {
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 1.9rem;
  }

  .nav__signup {
    background-color: var(--primary-cyan);
    color: var(--white);
    display: block;
    padding: 0.5rem 1.25rem;
    border-radius: 6.25rem;
  }

  .hamburger {
    display: none;
  }

  .hero {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 8rem;
  }

  .hero > * {
    flex: 100%;
  }

  .hero__text {
    text-align: left;
    padding-left: 1.25rem;
  }

  .hero__heading {
    font-size: 2.5rem;
  }

  .hero__image {
    /* overflow: initial; */
    padding: 0;
  }

  .hero__image img {
    width: 100%;
    transform: translateX(5rem);
  }

  .shortener {
    transform: translateY(-3.8rem);
  }

  .shortener__form {
    padding: 1.9rem;
    flex-direction: row;
    gap: 1.25rem;
    border-radius: 0.5rem;
  }

  .shortener__form div:first-child {
    flex: 1;
  }

  .shortener__form-submit {
    width: 10rem;
  }

  .shortener__link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .shortener__link > div {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .shortener__long-link {
    border-bottom: none;
    margin: 0;
  }

  .shortener__short-link {
    margin-bottom: 0;
  }

  .shortener__copy-link {
    width: 6.9rem;
    height: 2.5rem;
  }
}

@media (min-width: 1100px) {
  .header {
    padding: 2.5rem 5rem 0 5rem;
  }

  .hero__text {
    padding-left: 5rem;
  }

  .hero__heading {
    font-size: 4rem;
  }

  .statistics {
    padding: 0 5rem 5rem 5rem;
    background-color: var(--stats-background);
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 3.125rem 5rem;
  }

  .footer__links {
    margin-left: auto;
    flex-direction: row;
    gap: 5rem;
  }

  .footer__link-group {
    list-style: none;
    text-align: left;
  }

  .footer__socials {
    margin: 0 0 0 5rem;
  }
}

@media (min-width: 1300px) {
  .header {
    padding: 2.5rem 7.5rem 0 7.5rem;
  }

  .hero__text {
    padding-left: 7.5rem;
  }

  .statistics {
    padding: 0 7.5rem 5rem 7.5rem;
  }

  .footer {
    padding: 3.125rem 7.5rem;
  }
}

@media (min-width: 1060px) {
  .statistics__heading {
    font-size: 2.5rem;
  }
  .stats-cards {
    font-size: 0.93rem;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 6.25rem;
    gap: 1.9rem;
  }

  .stats-card {
    padding: 0 1.9rem 2.5rem 1.9rem;
  }

  .stats-card__icon {
    margin: 0;
    transform: translateY(-50%);
  }

  .stats-cards::after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background: var(--primary-cyan);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .stats-card:nth-child(2) {
    transform: translateY(2.5rem);
  }

  .stats-card:last-child {
    transform: translateY(5rem);
  }
}
